@tailwind base;
@tailwind components;
@tailwind utilities;

html ,body ,main {
  color: #fff8f8;
  background-image: linear-gradient(90deg, rgba(82, 184, 138, 0.7) 5%, rgba(39, 158, 184, 0.7) 38%, rgba(93, 183, 222, 0.7) 70%);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.perspective {
  perspective: 1000px;
}

.transform-style {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}